.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
    align-items: center;
    min-height: 100vh;
  }

  .container {
    padding: 0 22rem;
  }

  @media only screen and (max-width: 1100px){
    .container {
      padding: 0 1.5rem;
    }
  }